<md-card>
  <div layout="row">
    <div layout="row" layout-align="start center" layout-margin ng-show="bceStream.live">
      <md-icon md-svg-icon="img/icons/live.svg" class="md-primary">
        <md-tooltip>live</md-tooltip>
      </md-icon>
    </div>
    <div layout="row" layout-align="end center" flex>
      <md-button ng-click="bceStream.unmonitor()" class="md-icon-button">
        <md-tooltip>Stop monitoring</md-tooltip>
        <md-icon md-svg-icon="img/icons/quit.svg"></md-icon>
      </md-button>
    </div>
  </div>

  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        {{bceStream.stream.channel | uppercase}}
      </span>
      <span class="md-subhead">{{bceStream.stream.quality}} @ {{bceStream.stream.id}}</span>
    </md-card-title-text>

    <md-card-title-media>
      <div class="md-media-md">
        <img ng-src="{{bceStream.thumbnail}}">
      </div>
    </md-card-title-media>

  </md-card-title>

  <md-card-content ng-show="!bceStream.present">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </md-card-content>

  <!-- <md-button ng-show="bceStream.castable" ng-click="bceStream.positionChat()">Postion</md-button> -->

  <div layout="row" ng-show="bceStream.live">
    <div layout="row" layout-align="start center" style="margin-left:20px;">
      <md-icon md-svg-icon="img/icons/joystick.svg" style="margin-right:10px;"></md-icon> {{bceStream.game}}
    </div>
  </div>

  <div layout="row">
    <div layout="row" layout-align="start center" hide-xs>
      <div style="margin-left:20px;" ng-show="bceStream.live">
      <md-icon md-svg-icon="img/icons/viewers.svg"></md-icon> {{bceStream.viewers | number}}
      </div>
      <div style="margin-left:20px;">
      <md-icon md-svg-icon="img/icons/views.svg"></md-icon> {{bceStream.views | number}}
      </div>
      <div style="margin-left:20px;">
      <md-icon md-svg-icon="img/icons/follows.svg"></md-icon> {{bceStream.follows | number}}
      </div>
    </div>

    <md-card-actions layout="row" layout-align="end center" flex>
      <md-progress-circular ng-show="bceStream.readying" md-mode="indeterminate"></md-progress-circular>

      <md-button ng-show="bceStream.castable" ng-click="bceStream.cast()" class="md-raised md-primary md-icon-button">
        <md-tooltip>Cast to device</md-tooltip>
        <md-icon md-svg-icon="img/icons/chromecast.svg"></md-icon>
      </md-button>

      <md-button ng-show="bceStream.castable" class="md-primary md-icon-button" ng-href="{{bceStream.stream.proxy.indexUrl}}">
        <md-tooltip>Play stream</md-tooltip>
        <md-icon md-svg-icon="img/icons/play.svg"></md-icon>
      </md-button>

      <md-button ng-show="bceStream.castable" ng-click="bceStream.toggleChat()" class="md-primary md-icon-button">
        <md-tooltip>Toggle chat</md-tooltip>
        <md-icon md-svg-icon="img/icons/chatroom.svg"></md-icon>
      </md-button>

      <md-button ng-show="bceStream.present && !bceStream.watchable" ng-click="bceStream.unwatch()" class="md-icon-button md-warn">
        <md-tooltip>Stop watching</md-tooltip>
        <md-icon md-svg-icon="img/icons/poweroff.svg"></md-icon>
      </md-button>

      <md-button ng-show="bceStream.watchable" ng-click="bceStream.watch()" class="md-icon-button" ng-class="{'md-primary': bceStream.live, 'md-warn': !bceStream.live}">
        <md-tooltip>
          Watch
          <span ng-show="!bceStream.live">⚠ Stream appears to be offline</span>
        </md-tooltip>
        <md-icon md-svg-icon="img/icons/download.svg">
      </md-button>
    </md-card-actions>
  </div>

</md-card>
