frontend:
    build: frontend/
    ports:
        - '80:80'
    volumes:
        - './frontend/chromecast:/chromecast'
        - 'twitch-cast-data:/data'
    container_name: frontend

streamer:
    build: streamer
    container_name: streamer

hls-proxy:
    build: hls-proxy
    volumes:
        - 'twitch-cast-data:/data'
    restart: always
    container_name: hls-proxy
    environment:
        - SERVER_NAME=${SERVER_NAME}
