frontend:
    build: frontend/server
    ports:
        - '80:80'
    volumes:
        # Nginx configuration
        - './frontend/server/nginx.conf:/etc/nginx/nginx.conf'
        - './frontend/server/cors.conf:/etc/nginx/cors.conf'
        # Video content
        - 'twitch-cast-data:/data/'
        # Sender app
        - 'twitch-cast-sender-dist:/sender/dist/'
        - 'twitch-cast-sender-dev:/sender/dev/'
        # Receiver app
        - './frontend/src/receiver:/receiver/'
    restart: always
    container_name: frontend

frontend-builder:
    build: frontend/builder
    volumes:
        # Sources
        - './frontend/src/sender/:/src/'
        # Node-specific
        - 'twitch-cast-node-modules:/src/node_modules/'
        # Sender app
        - 'twitch-cast-sender-dist:/src/dist/'
        - 'twitch-cast-sender-dev:/src/dev/'
    restart: always
    container_name: frontend-builder

streamer:
    build: streamer
    volumes:
        # Sources
        - './streamer:/streamer'
        # Video content
        - 'twitch-cast-data:/data/'
    environment:
        SERVER_HOSTNAME: '${SERVER_NAME}'
        STREAMER_HOSTNAME: 'streamer'
        OUTPUT_DIRECTORY: '/data/video'
        SERVER_PATH: '/video'
        OUTPUT_INDEX_FILE_NAME: 'stream.m3u8'
        OUTPUT_TS_FILE_PATTERN: 'stream-#####.ts'
    container_name: streamer

irc-relay:
    image: globidocker/twitch-irc
    command: none 'twitch-irc-websocket'
    restart: always
    container_name: irc-relay
