frontend:
    build: frontend/server
    ports:
        - '80:80'
    volumes:
        - './frontend/chromecast:/chromecast'
        - './frontend/nginx.conf:/etc/nginx/nginx.conf'
        - 'twitch-cast-data:/data'
    restart: always
    container_name: frontend

streamer:
    build: streamer
    volumes:
        - './streamer:/streamer'
        - 'twitch-cast-data:/data'
    environment:
        SERVER_HOSTNAME: '${SERVER_NAME}'
        STREAMER_HOSTNAME: 'streamer'
        OUTPUT_DIRECTORY: '/data/video'
        SERVER_PATH: '/video'
        OUTPUT_INDEX_FILE_NAME: 'stream.m3u8'
        OUTPUT_TS_FILE_PATTERN: 'stream-#####.ts'
    container_name: streamer
