<md-card>
  <md-card-content>
    <h2>{{bceStream.stream.channel | uppercase}}</h2>
    <p>{{bceStream.stream.quality}} @ {{bceStream.stream.id}}</p>

    <div ng-show="bceStream.working" layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </md-card-content>

  <md-card-actions layout="row" layout-align="end center">
    <md-progress-circular ng-show="bceStream.readying()" md-mode="indeterminate"></md-progress-circular>
    <md-button ng-show="bceStream.castable()" ng-click="bceStream.cast()" class="md-raised md-primary" >Cast</md-button>
    <md-button ng-show="bceStream.unwatchable()" ng-click="bceStream.stopWatch()">Stop watching</md-button>
    <md-button ng-show="bceStream.watchable()" ng-click="bceStream.watch()">Watch</md-button>
    <md-button ng-show="bceStream.unmonitorable()" ng-click="bceStream.unmonitor()">Stop monitoring</md-button>
  </md-card-actions>
</md-card>
