/* Full screen */
html {
  height: 100%;
}

body {
  border: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

video {
  width: 100%;
  height: 100%;
  margin: auto auto;
  overflow: hidden !important;
}

.box {
  display: flex;
  height: 100%;
}

.flex {
  flex: 1 1 auto;
  height: 100%;
}

#chat {
  flex: 0 1 250px;
  min-width: 250px;
  background: #19191f;
  overflow-y: hidden;
  overflow-x: hidden;
  word-wrap: break-word;
}

h1 {
  color: white;
  text-align: center;
}

#chat-lines {
  padding-left: 10px;
}

.chat-line {
  font-family: Helvetica Neue,Helvetica,sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #8c8c9c;
  list-style-type: none;
}

.chat-line-sender {
  font-weight: bold;
}

.badge-wrapper {
  float: left;
  min-width: 20px;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}
